$text: #fff;
$textSecondary: #9cb3c9;

$errorRed: #d64d96;
$green: #3cd483;

$indigoLight: #1f364d;
$indigo: #0f273d;
$indigoDark: #0c2033;

$blue: #4997e5;
$blueDark: #457cb2;

$boxShadow: 0px 0px 20px 0px $indigoLight;